<!DOCTYPE html>


<html lang="pt-br">


<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Página Games </title>

</head>


<body>
    
    <h1>Bem-vindo a página de jogos!</h1>


    <hr>

{# Esse é um comentário do jinja2. Injeta código python no html#}

    <p>Game mais jogado no momento:</p>

    <ul>

        <li>Título: {{titulo}}</li>


        <li>Ano: {{ano}}</li>


        <li>Categoria: {{categoria}}</li>


    </ul>


    <p>O jogo {{titulo}} tem {{2025 - ano}} anos</p>

<hr>

    <p>Jogadores do momento no {{titulo}}:</p>


    <ol>
        {# Assim que funciona for em Python #}

        {% for jogador in jogadores %}

        <li>{{jogador}}</li>

        {% endfor %}

    </ol>

<hr>

<p> Outros jogos da Steam Verde:</p>

<ul>

    {% for jogo in jogos %}

    <li>{{jogo}}</li>

    {% endfor %}

</ul>


</body>


</html>